/* Header */

#headerDiv{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    overflow:hidden;
}

#headerLeft{
    width: 950px;
    background-color: white;
    margin-left: 50px;
    height: 60px;
}

#headerLogo{
    margin-left: 5px;
    float: left;
}

#headerTitle{
    margin-top: 15px;
    font-family: sans-serif;
    color: #00703c;
    font-size: 30px;
}

#headerRight{
    flex: 1;
    background-color: white;
    width: 400px;
    height: 60px;
}

#headerPicture{
    margin-top: 6px;
    float: left;
    margin-right: 7px;
    border-radius: 3px;
}

#headerName{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 23px;
}

/* ------------------- */

/* Body */
body{
    background-color: rgb(220, 255, 220);
}

#bodyDiv{
    width: 100%;
    margin-top: 80px;
}

#bodyHeading{
    width: 550px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
}

#bodyTitle{
    font-family: serif;
    color: #00703c;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 10px;
    width: 385px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#searchDiv{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

#searchbar{
    width: 500px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    outline: 0;
}

#bodyContent{
    width: 950px;
    background-color: whitesmoke;
    margin: auto;
    left: 0;
    right: 0;
}

.menuTabs{
    overflow: hidden;
    background-color: white;
    padding-top: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.menuTabs li{
    list-style: none;
    float: left;
    padding-bottom: 5px;
    padding-top: 2px;
    font-family: sans-serif;
    width: 300px;
}

.menuTabs li a{
    text-decoration: none;
    background-color: white;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: olivedrab;
    margin-right: 0px;
    font-size: 22px;
}

.tab:hover{
    color: olivedrab;
    background-color: rgb(200, 250, 200);
}

/* CONTENTS */

#homeContent, #enrollmentContent, #assessmentContent{
    height: 620px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

/* HOME TAB */

#hometabDescription{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#classRecommenderTable{
    margin: 0 auto; /* to center the table on div */
    width: 800px;
    font-family: sans-serif;
    border: 1px solid black;
}

#classRecommenderButton{
    background-color: #00703c;
    color: white;
    margin: 20px auto;
    display: block;
    border: 1px solid #00703c;
    border-radius: 5px;
    font-size: 16px;
}

#classRecommenderButton:hover{
    cursor: pointer;
    background-color: white;
    color: #00703c;
    border: 2px solid #00703c;
}

.classRecommenderRow{
    text-align: center;
    border: 1px solid black;
}

table{
    border-spacing: 0px;
}

td, th{
    border: 1px black solid;
    height: 30px;
}

tr:nth-child(even) {
    background: rgb(220, 255, 220);
}
tr:nth-child(odd) {
    background: white;
}