/* Header */

#headerDiv{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    overflow:hidden;
}

#headerLeft{
    width: 950px;
    background-color: white;
    margin-left: 50px;
    height: 60px;
}

#headerLogo{
    margin-left: 5px;
    float: left;
}

#headerTitle{
    margin-top: 15px;
    font-family: sans-serif;
    color: #00703c;
    font-size: 30px;
}

#headerRight{
    flex: 1;
    background-color: white;
    width: 400px;
    height: 60px;
}

#headerPicture{
    margin-top: 6px;
    float: left;
    margin-right: 7px;
    border-radius: 3px;
}

#headerName{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 23px;
}

/* ------------------- */

/* Body */
body{
    background-color: rgb(220, 255, 220);
}

#bodyDiv{
    width: 100%;
    margin-top: 80px;
}

#bodyHeading{
    width: 550px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 30px;
}

#bodyTitle{
    font-family: serif;
    color: #00703c;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 10px;
    width: 385px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#searchDiv{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

#searchbar{
    width: 490px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    outline: 0;
}

#searchSubmit{
    padding: 1px;
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-left: 2px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#searchSubmit a{
    text-decoration: none;
}

#bodyContent{
    width: 950px;
    background-color: whitesmoke;
    margin: auto;
    left: 0;
    right: 0;
}

.menuTabs{
    overflow: hidden;
    background-color: white;
    padding-top: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.menuTabs li{
    list-style: none;
    float: left;
    padding-bottom: 5px;
    padding-top: 2px;
    font-family: sans-serif;
    width: 300px;
}

.menuTabs li a{
    text-decoration: none;
    background-color: white;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: olivedrab;
    margin-right: 0px;
    font-size: 22px;
}

.tab:hover{
    color: olivedrab;
    background-color: rgb(200, 250, 200);
}

/* CONTENTS */

#homeContent, #enrollmentContent, #assessmentContent{
    height: 400px;
    overflow-y: auto;
    background-color: whitesmoke;
}

/* HOME TAB */

#hometabDescription{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#classRecommenderTable, #assessmentTable{
    margin: 0 auto; /* to center the table on div */
    width: 800px;
    font-family: sans-serif;
    border: 1px solid black;
}

#classRecommenderButton, #assessmentPrintButton{
    background-color: #00703c;
    color: white;
    margin: 20px auto;
    display: block;
    border: 1px solid #00703c;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

#classRecommenderButton:hover, #assessmentPrintButton:hover, #enrollButton:hover{
    cursor: pointer;
    background-color: white;
    color: #00703c;
    border: 2px solid #00703c;
}

.classRecommenderRow{
    text-align: center;
    border: 1px solid black;
}

.classRecommenderRow > *{
    border: 1px black solid;
    height: 30px;
}

/* ASSESSMENT TAB*/

#assessmentHeaderDiv{
    text-align: center;
}

#assessmenttabDescription{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

#yearTermSelect{
    border: none;
    height: 25px;
    border-radius: 5px;
}

.assessmentRow{
    border:none;
    height: 30px;
}

.assessmentRow > *{
    padding-left: 20px;
}

table{
    border-spacing: 0px;
}

tr:nth-child(even) {
    background: rgb(220, 255, 220);
}
tr:nth-child(odd) {
    background: white;
}

/* search */
.resultModal {
    position: fixed;
    font-family: sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.resultModal:target {
    opacity:1;
    pointer-events: auto;
}
.resultModal > div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #d9ffd9;
    border: groove green;
}

.closeModal {
    background: rgb(224, 224, 224);
    color: #999999;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
}

.closeModal:hover {
    background: #00ff00;
}

#searchResultTable{
    width: 700px;
}

#searchTitle{
    color: green;
    text-align: center;
}

/* Enrollment */

#enrollmentContent{
    display: flex;
}

#scheduleDiv{
    font-family: sans-serif;
    background-color: #c2ffc2;
}
    
#enrollDropDiv{
    width: 70%;
    font-family: sans-serif;
}

#scheduleTable{
    width: 400px;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
}

#scheduleTitle{
    margin-top: 70px;
    margin-left: 20px;
}

#enrollDropTitle{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 70px;
}

#enrollButton{
    background-color: #00703c;
    color: white;
    margin: 20px auto;
    display: block;
    border: 1px solid #00703c;
    border-radius: 5px;
    font-size: 24px;
    width: 400px;
    padding: 20px;
}

#enlistDiv, #dropDiv{
    display: none;
}

#hometabDescription, #scheduleTitle, #enrollDropTitle{
    color: rgba(30, 80, 30, .9);
}